*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

html {
  color-scheme: light dark;
  font-family: "avenir next lt pro", sans-serif;
  font-weight: lighter;
}

body {
  padding: 0 !important;
  min-height: 100vh;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.coffee-img {
  width: 240px !important;
  height: 240px;
  object-fit: cover;
}

.modal-image {
  width: 100%;
  height: auto;
}

.banner {
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
}

header {
  z-index: 1000;
}

footer {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0rem;
  padding: 7rem 0;
}

#navbar {
  height: 5rem;
  background: transparent;
  transition: background 200ms ease 0s;
}

#navbar.active {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
  transition: background 200ms ease 0s;
}

.my-btn {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px, rgba(0, 0, 0, 0.04) 0px 4px 4px;
}

.my-shadow {
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

input.arrow-hidden::-webkit-outer-spin-button,
input.arrow-hidden::-webkit-inner-spin-button,
input.arrow-hidden[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.square {
  aspect-ratio: 1/1;
}

.slogan {
  font-family: "ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #000;
}

.footer-logo {
  max-width: 14rem;
}

footer a {
  color: #fff;
}
footer a:hover {
  color: hsl(0, 0%, 85%);
}
